@media (max-width: 1024px) {
    // header
    header {
        padding: 0 10px;
    }

    // top-wrapper
    .top-wrapper {
        padding: 0 10px;
    }

    // index-wrapper
    .index-wrapper {
        padding-right: 0;
    }
}