.container {
    max-width: 1000px;
    margin: 0 auto;
}

// header
header {
    margin: 55px 0 10px 0;
}

.logo {
    width: 160px;
}

// top-wrapper
.top-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

// index-wrapper
.index-wrapper {
    display: flex;
    justify-content: center;
    padding: 35px 140px 10px 0;
    margin: 65px 0;
    background-color: #ffffff;
}

.heading {
    margin-bottom: 15px;
}

.index-list {
    margin-left: 3px;
    li {
        padding-bottom: 25px;
    }
}

// detail-wrapper
.detail-wrapper {
    padding: 35px 0 10px 200px;
    margin: 65px 0;
}

.work {
    display: flex;
}

.work-img {
    width: 33%;
}

.work-contents {
    width: 35%;
    margin-left: 70px;
}

.work-title {
    margin: 3px 0 20px 0;
}

.work-detail {
    margin-bottom: 20px;
    padding: 17px 0;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    p {
        line-height: 22px;
        span {
            margin-right: 38px;
            float: right;
        }
    }
}

.work-txt-contents {
    p {
        margin-bottom: 20px;
        line-height: 22px;
    }
}

// footer
footer {
    padding: 35px 0 20px 200px;
    p {
        font-size: 10px;
    }
}